.fake-carousel {
    height: auto;
    margin: auto;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.jacket-card {
    max-width: 240px
}

.fake-carousel h3, .fake-carousel h4 {
    margin: 0;
    font-weight: 600;
    font-family: var(--heading);
}

.fake-carousel h3 {
    letter-spacing: 2.2px;
    font-size: 20px;
}

.fake-carousel h4 {
    letter-spacing: 1.76px;
    font-size: 16px;
}

.fake-carousel p {
    margin: 0;
}

.fake-carousel button {
    width: 130px;
}

.product-image {
    display: flex;
    height: 135px;
    object-fit: contain;
    margin: auto;
}

.line-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-swatch {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.circle-1 {
    background-color: #EEAB77;
}

.circle-2 {
    background-color: #1F2327;
}

.circle-3 {
    background-color: #777;
}

.circle-4 {
    background-color: #C4D7E4;
}

/* Small (sm) */
@media (min-width: 640px) {

}

/* Medium (md) */
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    .fake-carousel {
        padding-left: 35px;
        padding-right: 35px;
    }

    .product-image {
        height: 150px;
    }
}
/* Large (lg) */
@media (min-width: 1024px) {
    /* Your styles for the large breakpoint here */
    .product-image {
        height: 160px;
    }
}
/* Extra Large (xl) */
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .product-image {
        height: 168px;
    }
}
/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}