body {
    height: 100vh;
}

.products {
    display: grid;
    margin: 20px;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas: 
    "nav nav"
    "filter filter"
    "1 2"
    "3 4"
    "5 6"
    "7 8"
    "footer footer";
}

header nav {
    grid-area: nav;
}

.category-text {
    grid-area: filter;
    display: flex;
    flex-direction: column;
}

h1 {
    letter-spacing: 3.52;
    margin: 40px 0 8px 20px;
}

.all-jackets {
    font-weight: normal;
    font-size: 30px;
    padding-left: 8px;
}

.filter {
    background-color: var(--cta-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    height: 32px;
}

.breadcrumbs {
    display: flex;
    color: var(--grey);
    font-size: 12px;
    margin-left: 20px;
    padding: 0;
}

.breadcrumbs a {
    color: var(--grey);
    text-decoration: none;
}

.jacket-card .card-1 {
    grid-area: 1;
}

.jacket-card .card-2 {
    grid-area: 2;
}

.jacket-card .card-3 {
    grid-area: 3;
}

.jacket-card .card-4 {
    grid-area: 4;
}

.jacket-card .card-5 {
    grid-area: 5;
}

.jacket-card .card-6 {
    grid-area: 6;
}

.jacket-card .card-7 {
    grid-area: 7;
}

.jacket-card .card-8 {
    grid-area: 8;
}

/* Small (sm) portrait tablets and large phones*/
@media (min-width: 640px) {
.products {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 16px;
    grid-template-areas: 
    "nav nav nav"
    "filter filter filter"
    "1 2 3"
    "4 5 6"
    "7 8 ."
    "footer footer footer";
}

h1 {
    margin: 40px 0 8px 35px;
}

.filter {
    padding: 0 80px;
}

.breadcrumbs {
    margin-left: 35px;
}
    
}
/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}


/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    .products {
        margin: 70px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 20px;
        grid-template-areas: 
        "nav nav nav nav"
        "filter filter filter filter"
        "1 2 3 4"
        "5 6 7 8"
        "footer footer footer footer";
    }

    h1 {
        margin: 40px 0 8px 70px;
    }

    .filter {
        padding: 0 100px;

    }

    .breadcrumbs {
        margin-left: 70px;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}