:root {
    --primary: #274C77;
    --secondary: #6096BA;
    --tertiary: #C4D7E4;
    --cta-primary: #BA5C12;
    --cta-secondary: #EEAB77;
    --cta-teriary: #FBDFCA;
    --blackish: #1F2327;
    --grey: #777777;
    --light-grey: #E7ECEF;
    --white: #FFFFFF;
    --border-radius: 20px;
}

* {
    /* font-family: 'Barlow Condensed', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    box-sizing: border-box;
}

h2 {
    margin: 0;
}

body {
    background-color: var(--cta-teriary);
    margin: 0;
    /* width: 100vw; */
    height: 100vh;
}

nav {
    background-color: var(--primary);
    color: var(--tertiary);
}

.hero-banner {
    background-color: var(--secondary);
    height: 570px;
}

.popular-now {
    background-color: var(--cta-secondary);
    height: 463px;
}

.categories {
    background-color: var(--tertiary);
    height: 596px;
}

.climbing-jackets {
    background-color: var(--white);
    height: 657px;
}

footer{
    background-color: var(--primary);
    height: 495px;
}

/* Small (sm) portrait tablets and large phones*/
@media (min-width: 640px) {
    .categories {
        height: 620px;
    }
    
    .climbing-jackets {
        height: 500px;
    }
    
    footer{
        height: 221px;
    }
}
/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    .categories {
        height: 640px;
    }
    
    .climbing-jackets {
        height: 503px;
    }
    
    footer{
        height: 208px;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}