body {
    height: 100vh;
    width: 100vw;
    /* max-width: 100%; */
    background-color: var(--cta-teriary);
    margin: 0;
    /* word-break: break-all; */
    overflow-x: hidden;
}

h2 {
    margin: 0;
    font-family: var(--heading);
    font-size: 32px;
    letter-spacing: 3.52px;

}

p {
    margin: 0;
}

.hero-banner {
    height: 570px;
    width: 100vw;
    background-image: url(/assets/home/mobile/hero-banner-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 569px;
}

.hero-banner-btns {
    position: relative;
    top: 83px;
    left: 35px;
}

.hero-banner-btns button {
    margin-right: 20px;
}


/* .hero-banner img {
    object-fit: cover;
    object-position: bottom;
} */

.hero-banner-image-tablet, .hero-banner-image-desktop {
    display: none;

}

.popular-now {
    height: auto;
    padding-left: 35px;
    display: flex;
}

.popular-now .product-image {
    height: 168px;
}

.categories {
    height: 596px;
    display: flex;
    flex-direction: column;
}

.categories-links {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
}


.categories-links h2 {
    position: relative;
    bottom: 58px;
    left: 24px;
    color: var(--white);
    letter-spacing: 3.52px;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--heading);
    text-transform: capitalize;

}


.city-jackets, .hiking, .canoeing {
    display: none;
}

.climbing-jackets {
    background-color: var(--white);
    height: 657px;
}



/* Small (sm) portrait tablets and large phones*/
@media (min-width: 640px) {
    .categories {
        height: 620px;
    }
    
    .climbing-jackets {
        height: 500px;
    }

    .hero-banner {
        height: 570px;
        width: 100vw;
        background-image: url(/assets/home/tablet/hero-banner-tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .canoeing {
        display: block;
    }    
}
/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    .categories {
        height: 640px;
    }
    
    .climbing-jackets {
        height: 503px;
    }

    .hero-banner {
        height: 570px;
        width: 100vw;
        background-image: url(/assets/home/desktop/hero-banner-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hiking {
        display: block;
    }

    .hero-banner-btns {
        left: 70px;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .city-jackets {
        display: block;
    }
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
    /* Your styles for the 2XL breakpoint here */
}