body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cta-teriary);
    margin: 0;
    overflow-x: hidden;
}

h2 {
    margin: 0;
    font-family: var(--heading);
    font-size: 32px;
    letter-spacing: 3.52px;
}

p {
    margin: 0;
}

.hero-banner {
    height: 570px;
    width: 100vw;
    background-image: url(/assets/home/mobile/hero-banner-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 569px;
    position: relative;
    bottom: 71px;
}

.hero-banner-btns, .hero-banner h2 {
    position: relative;
    top: 83px;
    left: 35px;
}

.hero-banner-btns button, .climbing-jackets-btns button {
    width: 100px;
}

.hero-banner-btns {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.hero-banner-image-tablet, .hero-banner-image-desktop {
    display: none;
}

.popular-now-heading {
    padding: 20px;
    padding-top: 0;
}

.jacket-card-1, .jacket-card-2, .jacket-card-3, .jacket-card-4, .jacket-card-5, .jacket-card-6 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.jacket-card-3, .jacket-card-4, .jacket-card-5, .jacket-card-6 {
    display: none;
}

.categories {
    height: 596px;
    display: flex;
    flex-direction: column;
}

.categories h2 {
    padding-left: 8px;
}

.categories-links {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
}


.categories-links h2 {
    position: relative;
    bottom: 58px;
    left: 24px;
    color: var(--white);
    letter-spacing: 3.52px;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--heading);
    text-transform: capitalize;
}

.city-jackets, .hiking, .canoeing {
    display: none;
}

.climbing-jackets {
    background-image: url(/assets/home/mobile/climbing-jackets-banner-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 569px;
    height: 657px;
}

.climbing-jackets h2 {
    color: var(--white);
    padding: 20px;
}

.climbing-jackets-btns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 24px;
}


/* Small (sm) portrait tablets and large phones*/
@media (min-width: 640px) {
    .categories {
        height: 620px;
    }
    
    .climbing-jackets {
        height: 500px;
    }

    .hero-banner {
        height: 570px;
        width: 100vw;
        background-image: url(/assets/home/tablet/hero-banner-tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .categories h2 {
        padding-left: 16px;
    }

    .canoeing {
        display: block;
    }   
    
    .climbing-jackets {
        background-image: url(/assets/home/tablet/climbing-jackets-banner-tablet.jpg);
    }
}

/* Medium (md) landscape tablets*/
@media (min-width: 768px) {
    /* Your styles for the medium breakpoint here */
    .jacket-card-3 {
        display: flex;
    }

    .categories h2 {
        padding-left: 20px;
    }
}

/* Large (lg) laptops/desktops*/
@media (min-width: 1024px) {
    .categories {
        height: 640px;
    }
    
    .climbing-jackets {
        height: 503px;
    }

    .hero-banner {
        height: 570px;
        width: 100vw;
        background-image: url(/assets/home/desktop/hero-banner-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hiking {
        display: block;
    }

    .hero-banner-btns, .hero-banner h2, .categories h2 {
        left: 70px;
    }

    .jacket-card-4 {
        display: flex;
    }

    .climbing-jackets {
        background-image: url(/assets/home/desktop/climbing-jackets-banner-desktop.jpg);
    }

    .climbing-jackets-btns {
        padding-left: 70px;
    }
}

/* Extra Large (xl) large laptops and desktops*/
@media (min-width: 1280px) {
    /* Your styles for the extra large breakpoint here */
    .city-jackets {
        display: block;
    }

    .jacket-card-5, .jacket-card-6 {
        display: flex;
    }
}